@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-scheme: dark;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #8D9094;
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 2px;
}

