@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-scheme: dark;
  font-family: "Inter", sans-serif;
}

.testIcon {
  width: 100px;
  height: 100px;
  color: red;
  fill: #535bf2;
}
