@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-scheme: dark;
  font-family: "Inter", sans-serif;
}


/*Global styles for scrollbar*/
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8D9094;
}


