.typography {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  word-break: break-word;
  overflow-wrap: break-word;
}

.h1,
.h2,
.h3,
.h4,
.overline,
.subtitle1,
.subtitle2 {
  font-weight: var(--font-weight-bold);
}

.h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }
}

.h2 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}

.h3 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }
}

.body1,
.subtitle1,
.h4 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
  }
}

.caption,
.body1,
.body2,
.link1,
.link2 {
  font-weight: var(--font-weight-regular);
}

.subtitle1 {
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    line-height: var(--line-height-s);
  }
}

.body2,
.subtitle2,
.link1 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }

  @media screen and (width <= 480px) {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}

.caption,
.overline,
.link2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-s);
  }
}

.link1,
.link2 {
  cursor: pointer;
  color: var(--color-info-500);

  &:visited {
    color: var(--color-info-900);
  }
}

.error {
  font-size: var(--font-size-s);
  color: var(--color-danger-500);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-xs);
  }
}

.gray {
  color: var(--color-dark-100);
}
